# This is the config file for TunnelManager.py

CONFIG_SETTINGS = [
    {   # My Jumpbox
        "ADDRESS": "jumpbox.yourdomain.com",
        "USERNAME": "username",
        "IDENTITY": "/home/username/.ssh/id_rsa",
        "TUNNELS": ["-L2265:117.39.2.233:22", "-L2264:62.23.1.15:22", "-L2266:92.24.18.52:22", "-D8888"]
    },
    {   # Client Internal Network
        "ADDRESS": "pivot.yourclientsoffice.com",
        "USERNAME": "username",
        "IDENTITY": "/home/username/.ssh/id_rsa",
        "TUNNELS": ["-L2267:192.168.0.12:22", "-L2268:10.10.19.1:22", "-L2262:10.0.1.20:22", "-D8888"]
    }
]
